<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout (title, content)">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"/>
    <th:block th:replace="${links}?: _"/>
    <th:block th:replace="${metas}?: _"/>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <title th:replace="${title}">Application Title</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" sec:authorize="isAuthenticated()">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Othello</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/othello/start}">Créer une partie</a>
                </li>

                <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Administration
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#" th:href="@{/tag/}">Gérer les utilisateurs</a>
                    </div>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <div sec:authorize="isAuthenticated()" class="navbar-text">
                    Bonjour <span sec:authentication="principal.username"></span>&nbsp;
                    (<a th:href="@{/logout}" href="#">Déconnexion</a>)
                </div>
            </form>
        </div>
    </div>
</nav>

<div class="container mt-3">
    <p th:if="${message ne null}" class="alert" th:classappend="|alert-${message.level}|" th:text="${message.text}"></p>

    <div class="jumbotron" th:replace="${content}">
        <p>Layout page, content gets here !</p>
    </div>
</div>
</body>
</html>
