<html th:replace="~{layout :: layout(~{::title}, ~{::content})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:fragment="title">Création d'une partie</title>
</head>
<body>
<div th:fragment="content">
    <h1 class="h3 mb-3 fw-normal">Création d'une partie</h1>
    <form action="#" th:action="@{/othello/start}" th:object="${game}" method="post">
        <div class="mb-3">
            <label for="player" class="form-label">Adversaire : <span id="player-selected">Choisir un adversaire</span></label>
            <input type="hidden" id="player" th:field="*{player}" />
            <input type="text" class="form-control" id="player-autocomplete" />
            <div class="alert alert-danger" th:if="${#fields.hasErrors('player')}" th:errors="*{player}">Adversaire invalide</div>
        </div>
        <div class="mb-3">
            <label for="game_size" class="form-label">Taille de la grille</label>
            <select class="form-select" id="game_size" th:field="*{size}">
                <option th:each="c : ${sizes}" th:value="${c.name()}" th:text="${c.toString()}"></option>
            </select>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('size')}" th:errors="*{size}">Taille invalide</div>
        </div>

        <button type="submit" class="btn btn-primary">Lancer la partie</button>
    </form>

    <script>
        $( function() {
            $('#player-autocomplete').autocomplete({
                source: '/api/users',
                minLength: 2,
                select: function( event, ui ) {
                    document.querySelector('#player').value = ui.item.id;
                    document.querySelector('#player-selected').innerText = ui.item.value;
                }
            });
        });
    </script>
</div>
</body>
</html>